// less
// base

// imports
@import 'variables';
@import 'mixins';

// resets
* {
	.reset-mixin(@bord: 0; @pad: 0; @mar: 0px; @box: border-box; @dec: none; @list: none);
	font-family: @fontFira;
}

// body/html
html,
body {
	height: 100%;
	color: @grey;
}

// body
body {
	font-weight: @light !important;
	display: flex;
  flex-direction: column;
}

// paragraph
p {
	margin: 0;
}

// headings
h1 {
  font-size: 2em;
	letter-spacing: 1px;
	text-align: center;
}

h2,
h3,
h4,
h5 {
	line-height: 1.45em;
}

// links
a {
  color: @white;
  transition-duration: 500ms;
}

a:hover {
  text-decoration: none;
}
