// less
// buttons

// imports
@import 'variables';
@import 'mixins';

// main button
.button {
	background: @blue;
	color: @white;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out !important;
	border-radius: 3px;
}

.button:hover {
	background: @grey !important;
}

.button a {
	padding: 0 15px;
	color: @white;
}

// card button
.cardButton {
	width: auto;
	height: 40px;
	margin: 5px 0;
}

// contact button
.contactButton {
	width: 200px;
	height: 65px;
	margin-top: 25px;
	margin-left: 15px;
}

// adopt button
.adoptButton {
	width: 200px;
	height: 65px;
	margin-top: 25px;
}

// donate button
.donateButton {
	background: @red;
	color: @white;
	font-weight:@bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out !important;
	border-radius: 3px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-left: 10px;
}

.donateButton:hover {
	background: @dark-red;
}