// less
// content

// imports
@import 'variables';
@import 'mixins';

// container
.container-fluid {
	max-width: 1450px;
	flex: 1 0 auto;
}

.container-fluid-feature {
	width: 100%;
}

.container-master {
	display: flex;
}

// map
#map {
	width: 100%;
	height: 100%;
}

// footer
footer p {
	color: @white;
}

footer {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	margin: 0 auto;
	height: 200px;
	background-color: @grey;
	width: 100%;
}

.footerWrap {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
