// less
// content

// imports
@import 'variables';
@import 'mixins';

// container
.container-fluid-master {
	flex: 1 0 auto;
}

.container-fluid {
	max-width: 1450px;
	flex: 1 0 auto;
}

.container-fluid-feature {
	width: 100%;
}

.container-background {
	background-color: @pink-t;
	padding: 5px 0;
}

// row
.row {
	margin: 1em 0;
}

.row-404 {
	height: 100%;
}

// card
.card {
	background-color: @white;
	border-radius: 0;
	height: 100%;
}

.card-header,
.card-footer {
	background-color: rgba(0, 0, 0, 0.02);
}

.card-header {
	border-bottom: none;
}

.card-footer {
	border-top: none;
}

// article
article {
	column-count: 1;
	padding-top: 1em;
	border-top: @grey-border;
}

.two-column {
	column-count: 2;
}

article a {
	color: @pink;
}

article a:hover {
	color: @purple;
}

// map
#map {
	width: 100%;
	height: 550px;
}

.aboutWrap {
	max-width: 1450px;
}