// less
// footer

// imports
@import 'variables';
@import 'mixins';

// footer
footer p,
footer a {
	color: @white;
}

footer {
	align-items: center;
	background-color: @purple;
	display: flex;
	flex-shrink: 0;
	height: 200px;
	margin: 0 auto;
	max-width: 1420px;
	width: 100%;
	// padding-left: 15px;
	// padding-right: 15px;
}

.footerWrap {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// margin-left: 15px;
	// margin-right: 15px;
}
