// less
// header

// imports
@import 'variables';
@import 'mixins';

// header
.headerWrap {
	background: @off-dark-blue;
	padding: @pad-10;
	width: 100%;
	border-bottom: @white-border-5;
}

.headerWrapFlex {
	max-width: 1450px;
	padding-left: 15px;
	padding-right: 15px;
	margin: @mar-0-auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

// logo
.logoWrap img {
	max-height: 100px;
	max-width: 300px;
}

// social & donate
.socialWrap {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.socialWrap a {
	font-weight: @regular;
}

// menu
.menuModuleWrap {
	width: 100%;
	margin-bottom: 20px;
	border-top: @white-border-5;
}

.menuModuleWrap ul {
	margin-bottom: 0;
}

.menuModule {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menuModule a {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 1.4em;
	color: @white;
	padding-bottom: 0;
	padding-top: 0;
	border-bottom: @t-border-2;
	border-top: @t-border-2;
	transition-duration: 300ms;
}

.menuModule a:hover {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: @white-border-2;
	border-top: @white-border-2;
}

.menuModule li {
	margin-left: 1px;
	margin-right: 1px;
	background: @oj;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100%;
	text-align: center;
	width: 20%;
}

.menuWarningWrap {
	margin-bottom: 20px;
	border-top: @white-border-5;
	background: @oj;
	height: 100px;
}

.menuWarning {
line-height: 100px;
text-align: center;
}