// less
// icon

// imports
@import 'variables';
@import 'mixins';

// all icons
.fa-icon,
.fab,
.fas {
	font-size: 30px;
	color: @white;
	margin-left: 15px;
	&:hover {
		color: @grey;
	}
}

// facebook
.facebook {
	.fa-icon;
	.fab;
	&:before {
		content: @fa-var-facebook;
	}
}

// twitter
.twitter {
	.fa-icon;
	.fab;
	&:before {
		content: @fa-var-twitter;
	}
}

// instagram
.instagram {
	.fa-icon;
	.fab;
	&:before {
		content: @fa-var-instagram;
	}
}

// pinterest
.pinterest {
	.fa-icon;
	.fab;
	&:before {
		content: @fa-var-pinterest;
	}
}

// youtube
.youtube {
	.fa-icon;
	.fab;
	&:before {
		content: @fa-var-youtube;
	}
}

// heart
.heart {
	.fa-icon;
	.fas;
	&:before {
		content: @fa-var-heart;
	}
}

// cart
.cartIcon {
	.fa-icon;
	.fas;
	&:before {
		content: @fa-var-shopping-cart;
	}
}

.hideIcon {
	display: none;
	visibility: hidden;
}

.showIcon {
	display: block;
	visibility: visible;
}