// less
// img

// imports
@import 'variables';
@import 'mixins';

// feature image
.fullImgWrap {
	width: 100%;
	height: 640px;
}

.fullImg {
	width: 100%;
	height: 100%;
}

// thumbnail image
.thumbImg {
	width: 100%;
	height: 400px;
}

// single post image
.singlePostImg {
	width: 100%;
	height: 100%;
}

// image hover
.tile {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.tile img {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.tile:hover img {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.tile-colour {
	cursor: pointer;
	background: @oj-t;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
