// less
// img

// imports
@import 'variables';
@import 'mixins';

// feature image
.fullImgWrap {
  width: 100%;
  height: 470px;
}

.fullImg {
  width: 100%;
  height: 100%;
}

// thumbnail image
.thumbnailWrap {
	width: 100%;
  height: 470px;
}

.thumbnailImg {
	width: 100%;
  height: 100%;
}