// less
// media

// imports
@import 'variables';
@import 'mixins';

// 992
@media screen and (max-width: 992px) {
	h1 {
		font-size: 1.8em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.4em;
	}
	.menuModule a {
		font-size: 1em;
	}
	.contactWrap,
	.adoptWrap {
		max-width: 100%;
	}
	.adoptWrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.contactWrap,
	.contactWrap .col-12,
	.contactWrap .col-6 {
		padding-left: 0;
		padding-right: 0;
	}
	.contactButton{
		margin-left: 0;
	}
}

// 768
@media screen and (max-width: 768px) {
	.logoWrap {
		margin: @mar-0-auto;
		width: 300px;
	}
	.socialWrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.headerWrapFlex {
		display: block;
	}
	.menuModule a {
		font-size: 1em;
	}
	.menuModuleWrap {
		margin-bottom: 20px;
		height: auto;
		border-top: none;
		display: none;
		visibility: hidden;
	}
	.menuModule {
		height: auto;
		display: block;
		width: 100%;
	}
	.menuModule li {
		width: 100%;
		height: 60px;
		margin-top: 1px;
		margin-bottom: 1px;
	}
	.menuModuleMobileWrap {
		display: block;
		visibility: visible;
	}
	.two-column {
		column-count: 1;
	}
	.woocommerce .quantity .qty {
		width: 2.5em;
		text-align: left;
		margin-left: 15px;
	}
	.noPadL {
		padding-right: 0;
	}

	.noPadR {
		margin-top: 2em;
		padding-left: 0;
	}
}

// 562
@media screen and (max-width: 562px) {
	.footerWrap,
	footer {
		text-align: center;
		display: block;
		margin-top: 18.5px;
	}
}

// 440
@media screen and (max-width: 440px) {
	#inIcon,
	#fbIcon,
	#yoIcon,
	#twIcon,
	#piIcon {
		font-size: 22px;
		margin-left: 10px;
		margin-top: 5px;
	}
	.donateButton {
		font-size: 12px;
	}
	.cart-contents::before {
		font-size: 22px;
	}
	.logoWrap {
		width: 250px;
	}
	.logoWrap img {
		max-height: 100px;
		max-width: 250px;
	}
}
