// less
// shop

.wooWrap {
	max-width: 80%;
	margin: @mar-0-auto;
}

// archive product button
.product_type_simple {
	background: @blue;
}

.product_type_simple a {
	color: @white;
}

.wc-forward a {
	color: @white;
}

// results
.woocommerce .woocommerce-result-count {
	margin: 1em 0;
	font-weight: @bold;
}

// page description
.page-description {
	text-align: center;
}

// images
.woocommerce ul.products li.product .woocommerce-placeholder {
	border: none;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image--placeholder {
	border: none;
}

.wp-post-image {
	max-width: 100%;
	max-height: 100%;
}

// text
.woocommerce h2 {
	text-align: left;
}

// add to cart section
.cart {
	margin-top: 1em;
	padding-top: 1em;
	border-top: @grey-border;
}

.added_to_cart {
	color: @white;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	cursor: pointer;
	width: auto;
	height: 35px;
	margin: 5px 0;
	font-weight: @bold;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
}

.woocommerce a.added_to_cart {
	background: @green !important;
	padding-top: 0.35em;
	margin-bottom: 0;
}

.woocommerce a.added_to_cart:hover {
	background: @dark-green !important;
}

.woocommerce-message a {
	background: @green;
}

.woocommerce-message a:hover {
	background: @dark-green;
}

// cart page buttons
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	color: @white;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	color: @white;
}

.wc-proceed-to-checkout a {
	background: @green !important;
}

.wc-proceed-to-checkout a:hover {
	background: @dark-green !important;
}

// cart product button
.wc-forward {
	background: @blue;
}

// add to cart message
.woocommerce-message::before {
	content: '\e015';
	color: @green;
}

.woocommerce-message {
	border-top-color: @green;
}

.woocommerce-error::before {
	content: '\e016';
	color: @red;
}

.woocommerce-error {
	border-top-color: @red;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	background-color: @lightest-grey;
	color: @grey;
}

// actual cart page
.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	width: auto;
}

#coupon_code {
	margin-right: 10px;
}

.woocommerce table.shop_table {
	border-radius: 3px;
}

.actions {
	color: @white !important;
}

.restore-item {
	background: none !important;
	color: @grey !important;
}

.restore-item:hover {
	background: none !important;
	color: @grey !important;
}

// product meta
.product_meta a {
	color: @grey;
}

.product_meta a:hover {
	color: @grey;
}

// product quantity slider
.quantity {
	height: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: @lightest-grey !important;
}

.woocommerce div.product form.cart div.quantity {
	margin: 0 1.5em 0 0;
}

.woocommerce .quantity .qty {
	width: 2.5em;
	text-align: left;
}

// price
.price {
	font-weight: @bold;
}

.woocommerce h1 {
	text-align: left;
}

// main product area
.product {
	margin-top: 20px;
}

// sale
.woocommerce span.onsale {
	background-color: @green;
}

// woocommerce info message
.woocommerce-info::before {
	color: @green;
}

.woocommerce-info {
	border-top-color: @green;
}

.woocommerce-info a {
	color: @grey !important;
}

.woocommerce-info a:hover {
	color: @grey !important;
}

// checkout page
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background: @lightest-grey;
	border-radius: 3px;
}

.woocommerce-privacy-policy-link {
	color: @grey !important;
}

.woocommerce-privacy-policy-link:hover {
	color: @grey !important;
}

.woocommerce-terms-and-conditions-wrapper {
	margin-bottom: 1em;
}

.woocommerce-checkout-review-order {
	margin-bottom: 2em;
}

#order_comments {
	width: 100%;
	display: block;
}

.input-text {
	width: 100%;
	display: block;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
	width: 100%;
	display: block;
}

.woocommerce form .form-row textarea {
	width: 100%;
	display: block;
	resize: none;
}

.woocommerce-input-wrapper {
	width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: @grey !important;
	line-height: 28px;
}

.select2 {
	width: 80% !important;
}

#billing_first_name,
#billing_last_name,
#billing_company,
#billing_city,
#billing_state,
#billing_postcode,
#billing_phone,
#shipping_first_name,
#shipping_last_name,
#shipping_company,
#shipping_city,
#shipping_postcode,
#shipping_phone {
	background: @lightest-grey;
	height: 30px;
}

#billing_country_field {
	display: flex !important;
	flex-direction: column;
}

label {
	margin-bottom: 0 !important;
}