// less
// variables

// main colours
@white: #ffffff;
@black: #000000;
@grey: #2b2b2b;
@med-grey: #d3ced2;
@light-grey: #747474;
@lightest-grey: #f0f0f0;
@blue: #00b2ff;
@dark-blue: #3a4856;
@light-blue: #9dadbd;
@green: #30bc96;
@dark-green: #248f72;
@cream: #f0eade;
@red: #dd3039;
@dark-red: #b42128;

// transparent colours
@off-white-t: #98aae031;

// suttle palette
@oj: #ff7064;
@off-oj: #e0998f;
@off-white: #f3f1e9;
@off-blue: #98aae0;
@off-dark-blue: #2f4674;

// font
@fontFira: 'Fira Sans', sans-serif;
@fontMerriweather: 'Merriweather', serif;
@fontQuicksand: 'Quicksand', sans-serif;

// weights
@light: 300;
@regular: 400;
@bold: 700;

// margin
@mar-0-auto: 0 auto;
@mar-20-auto: 20px auto;
@mar-50-auto: 50px auto;
@mar-100-auto: 100px auto;

// padding
@pad-0: 0;
@pad-10: 10px;
@pad-20: 20px;