// less
// variables

// main colours
@white: #ffffff;
@black: #000000;
@grey: #2b2b2b;
@light-grey: #747474;
@lightest-grey: #cccccc;
@blue: #00b2ff;
@dark-blue: #3a4856;
@light-blue: #9dadbd;
@pink: #f284bc;
@purple: #b74f87;
@green: #30bc96;
@cream: #ded6c7;

// font
@font: 'Fira Sans', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Quicksand', sans-serif;
// weights
// 300
// 400
// 700

// margin
// @mar: 20px 0 20px 0;
// @main-mar: 0 auto;
// @big-mar: 30px 0 30px 0;
// @icon-mar: 15px 0 0 15px;
// @copy-mar: 15px 15px 0 0;
// @row-mar: 50px 0 50px 0;

// padding
// @main-pad: 20px;
// @col-pad: 0 25px 0 25px;
// @sml-pad: 0 10px 0 0;