/* main colors */
@white: #ffffff;
@black: #000000;
@grey: #222222;
@light-grey: #747474;
@lightest-grey: #cccccc;
@red: #fa6262;
@orange: #fa8c24;
@blue: #217ee9;
@green: #16a56e;
@purple: #7423c0;

/* fonts */
@font: 'Open Sans', sans-serif;