/**
 * nonproflite - Non-Prof Lite is a user-friendly and free WordPress theme.
 * @version v1.0.0
 * @link https://github.com/WildPastry/nonproflite#readme
 * @author Mike Parker (http://www.mikeparker.co.nz/)
 */
*{border:0;padding:0;margin:0;box-sizing:border-box;text-decoration:none;list-style-type:none;font-family:Fira Sans,sans-serif}body,html{height:100%;color:#fff;background:#222}h1,h2,h3,h4,h5{font-family:Fira Sans,sans-serif}article{-webkit-column-count:2;-moz-column-count:2;column-count:2}