/**
 * nonproflite - Non-Prof Lite is a user-friendly and free WordPress theme.
 * @version v1.0.0
 * @link https://github.com/WildPastry/nonproflite#readme
 * @author Mike Parker (http://www.mikeparker.co.nz/)
 */
*{border:0;padding:0;margin:0;box-sizing:border-box;text-decoration:none;list-style-type:none}body,html{height:100%;color:#222}