/**
 * nonproflite - Non-Prof Lite is a user-friendly and free WordPress theme.
 * @version v1.0.0
 * @link https://github.com/WildPastry/nonproflite#readme
 * @author Mike Parker (http://www.mikeparker.co.nz/)
 */
*{border:0;padding:0;margin:0;box-sizing:border-box;text-decoration:none;list-style-type:none;font-family:Fira Sans,sans-serif}body,html{height:100%;color:#2b2b2b}body{font-weight:300!important}article{-webkit-column-count:2;-moz-column-count:2;column-count:2}